<div class='card'>
  <div class="card-header row justify-content-between">
    <div class="col-3">ServerDashboard</div>
    <div class="col-3">
      <select [(value)]='selectedLocation'>
        <option selected disabled>Choose Locations</option>
        <option *ngFor='let location of locations' [value]='location'>{{location}}</option>
      </select>
      <label>Choose Versions</label>
      <button (click)='showAll()' [disabled]='isShowAll'>SHOW ALL</button>
    </div>
  </div>
  <div class="card-body">
    <div class="row row-cols-4 row-cols-sm-4 row-cols-xs-1">
      <div class='col' *ngFor='let server of filteredServers'>
        <div class='card'>
          <label>{{server.name}}</label>
          <label>{{server.location}}</label>
          <label>{{server.version}}</label>
        </div>
      </div>
    </div>
  </div>
</div>
